<!DOCTYPE html>
<html lang="ru">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title><%= content_for?(:title) ? yield(:title) : "Bbq" %></title>
       <%= csrf_meta_tags %>
       <%= csp_meta_tag %>

<!--      <link rel="stylesheet"-->
<!--            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">-->
<!--      <script src=<%#= "https://api-maps.yandex.ru/2.1/?apikey=#{ENV['YANDEX_MAP_API_KEY']}&lang=ru_RU" %> type="text/javascript"></script>-->

      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
  <body>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to "BBQ!", root_path, class: 'navbar-brand' %>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="navbar-nav">
            <li class="nav-item buffer-left-right"><%= link_to "Link1", "/path1", class: "nav-link" %></li>
            <li class="nav-item buffer-left-right"><%= link_to "Link2", "/path2", class: "nav-link" %></li>
            <li class="nav-item buffer-left-right"><%= link_to "Link3", "/path3", class: "nav-link"  %></li>
          </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <%= bootstrap_flash %>

    <%= yield %>
      </div>
      <div class="col-lg-3">
        <div class="well sidebar-nav bg-light">
          <h3>Sidebar</h3>
          <ul class="nav navbar-nav">
            <li class="nav-header">Sidebar</li>
            <li class="nav-item buffer-top"><%= link_to "Link1", "/path1" %></li>
            <li class="nav-item buffer-top"><%= link_to "Link2", "/path2" %></li>
            <li class="nav-item buffer-top"f><%= link_to "Link3", "/path3" %></li>
          </ul>
        </div>
        </div>
      </div>
    </div>


    <footer class="mt-3">
      <div class="container">
        <p>&copy; <%= t('app.company') %> <%= Time.now.year %></p>
      </div>
    </footer>
  </body>
</html>
